@import "../../../App.scss";
.search {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 30px;
  &__title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  &__input {
    position: relative;
    i {
      position: absolute;
      left: 5px;
      top: 3px;
    }
    input {
      padding-left: 25px;
    }
  }
}
